################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.json
*.sqlite
*.sqlite
/.vs/slnx.sqlite
/.vs/slnx.sqlite
